<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Room Login</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
<div class="logo_box">
    <h3>Chat Room</h3>
    <form>
        <div class="input_outer">
            <span class="u_user"></span>
            <input id="username" name="username" class="text" type="text" placeholder="Username"/>
        </div>
        <div class="mb2">
            <a class="act-but submit" onclick="login()">Login</a>
        </div>
    </form>
</div>

<script th:inline="javascript">
    /**
     * Login
     */
    function login() {
        var username = $("#username").val();
        if (username !== "") {
            window.location.href = "/index?username=" + username;
        }
    }

    /**
     * Enter to login.
     */
    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e.keyCode === 13) {
            login();
            return false;
        }
    };
</script>
</body>
</html>