<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h3>Add User</h3>

<form action="addUser" method="post">
    Username: <input name="name" type="text"/>
    <span style="color:red" th:errors="${user.name}"></span><br/>
    Password: <input name="password" type="password"/><br/>
    <span style="color:red" th:errors="${user.password}"></span><br/>
    Grade: <input name="grade" type="text"/><br/>
    <input type="submit" value="Add">
</form>
</body>
</html>
